html {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.4;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    background-color: #f2f2f2;
    font-family: 'PT Sans', sans-serif;
}
/**globales de la pagina**/
.contenedor{
    width: 98%;
    margin: 0 auto;
}
@media (min-width: 480px) {
    .contenedor{
    width: 95%;
}
}
@media (min-width: 768px) {
    .contenedor{
    width: 90%;
}
}
@media (min-width: 992px) {
    .contenedor{
    width: 95%;
}
}
.seccion{
    padding: 30px 0;
}
.seccion p{
    font-size: 1.2em;
    text-align: center;
}
h2{
    font-family: 'oswald', sans-serif ;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}
h2::after{
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}
/**header**/
.hero{
    background-image: url(../img/encabezado.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.contenido-header{
    padding-top: 20px;
}
@media (min-width: 768px) {
    .contenido-header{
        padding-top: 10px;
    }
}
.redes-sociales{
    text-align: center;
}
.redes-sociales a{
    color: white;
    margin-right: 20px;
    font-size: 2em;
}
.redes-sociales a:last-child{
    margin-right: 0;
    color: white;
}
@media (min-width: 768px) {
    .informacion-evento{
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
}
.informacion-evento{
    text-align: center;
    color: white;
}
.informacion-evento p{
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    display: inline;
}
.informacion-evento p i{
    color: #fe4918;
    font-size: 2.4rem;
}
.fecha{
    float: left;
}
.ciudad{
    float: right;
    text-align: right;
}
.slogan{
    text-transform: none!important;
}
.slogan span{
    font-weight: bold;
}
.Nombre-sitio{
    padding-top: 40px;
    font-size: 5.9vw;
    text-transform: uppercase;
    font-family: 'PT sans', sans-serif ;
}
@media (min-width: 768px) {
   .Nombre-sitio{
    font-size: 11.5vw;
    margin: 0;
    line-height: 1;
} 
}
/**barra del proyeccto**/
.barra{
    background-color: #353535;
    padding: 15px 20px 100px 20px;
}
.logo{
    width: 80%;
    float: left;
}
.logo img{
    width: 100%;
}
@media (min-width: 768px) {
    .logo{
        width: 33%;
        float: left;
    }
}
/**navegacion principal**/
.navegacion-principal{
    display: none;
}
.navegacion-principal a{
    font-family:'oswald', sans-serif ;
    color: white;
    font-size: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .6s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}
.navegacion-principal a:hover{
    background-color: #fe4918;
}
.navegacion-principal a:last-child{
    border: 2px solid #fe4918;
    color: #fe4918;
}
.navegacion-principal a:last-child:hover{
    color: white;
}
@media (min-width: 768px) {
    .navegacion-principal{
        width: 67%;
        float: right;
        text-align: right;
        display: block;
    }
    .navegacion-principal a{
        padding: 10px 15px;
        display: inline-block;
        width: auto;
        display: inline-block;
        text-align: center;
        margin: 0 10px 0 0;
    }
}
/***menu movil***/
.menu-movil{
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
}
.menu-movil:hover{
    cursor: pointer;
}
.menu-movil span{
    margin-bottom: 6px;
    height: 8px;
    background-color: white;
    display: block;
}
@media (min-width: 768px) {
    .menu-movil span{
        display: none;
    }
}